In [1]:
import pandas as pd

In [2]:
data = {'Nombre': ['Tu', 'Zenbook'], 'Potencia': ['Alta', '50 TOPS']}
df = pd.DataFrame(data)
print(df)

    Nombre Potencia
0       Tu     Alta
1  Zenbook  50 TOPS